@model PatientUploadTest2.Models.Report

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Report</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Auditor" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Auditor" class="form-control" />
                <span asp-validation-for="Auditor" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="Author" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Diagnosis" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Diagnosis" class="form-control" />
                <span asp-validation-for="Diagnosis" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Observation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Observation" class="form-control" />
                <span asp-validation-for="Observation" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="state" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="state" class="form-control">
                    <option value="0">Approved</option>
                    <option value="2">Rejected</option>
                </select>
                <span asp-validation-for="state" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
