@model PatientUploadTest2.Models.Report
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Edit";
}


    <h2>Edit</h2>
    <form asp-action="Edit">
        <div class="form-horizontal">
            <h4>Report</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <!--  
            <div class="form-group">
                <label asp-for="Auditor" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Auditor" class="form-control" />
                    <span asp-validation-for="Auditor" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger" />
                </div>
            </div>
            -->
            
            <div class="form-group">
                <label asp-for="Diagnosis" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Diagnosis" id="Diagnosis" class="form-control" />
                    <span asp-validation-for="Diagnosis" class="text-danger" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Observation"  class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Observation" id="Observation" class="form-control" />
                    <span asp-validation-for="Observation" class="text-danger" />
                </div>
            </div>
            <!-- 
            <div class="form-group">
                <label asp-for="PublishingTime" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PublishingTime" class="form-control" />
                    <span asp-validation-for="PublishingTime" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="WritingTime" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="WritingTime" class="form-control" />
                    <span asp-validation-for="WritingTime" class="text-danger" />
                </div>
            </div>
            -->
            @if ( User.IsInRole("Auditor"))
            {
                <div class="form-group">
                    <label asp-for="state" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="state" class="form-control">
                            <option value="0">Approved</option>
                            <option value="2">Rejected</option>
                        </select>
                        <span asp-validation-for="state" class="text-danger" />
                    </div>
                </div>

            }

            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>





@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script> 
    <script src="~/lib/MyViewJS/GetReportTemplate.js"></script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
